// Importing App.scss without namespace conflicts.
@use "../App.scss" as *;

#root > div {
  background-image: url("/src/assets/images/header_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .container.w-75.py-4 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    a {
      h4 {
        font-size: 16px;
        color: black;
      }

      h4:hover,
      h4:active {
        border-color: black;
      }
    }
  }

  .p-5.d-flex.flex-column.justify-content-center.text-dark.col-md-6 {
    form.w-100 {
      font-size: 16px;

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 17px;
      }

      div > input,
      button {
        font-size: 16px;
      }

      button:disabled,
      button:disabled:hover {
        color: gray;
        background-color: transparent;
        border-color: gray;
        cursor: not-allowed;
      }

      div > p.err-text {
        font-size: 16px;
      }

      // Black outline
      /* div:nth-child(5) > div > p > a, div:nth-child(6) > div > p > a {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      } */

      div:nth-child(5) > div > p > a,
      div:nth-child(6) > div > p > a {
        color: blue;
      }
    }
  }
}
