@use "../App.scss" as *;

.note-form-section {
  // flex-grow: 1; /* This allows the form to take up the remaining space */
  width: calc(100vw - 60px - 12px - 36px - 6px);
  padding: 20px; /* Add some padding around the form */
  height: 100vh;
  @media screen and (min-width: 992px) {
    width: calc(100vw - $sidebar-width - 12px - 36px - 6px);
  }

  .btn {
    background-color: $clr-red-salsa;
    color: white;
    border: 1px solid black;
  }
}
