// Avoid using the default namespace 'App'.
@use "../App.scss" as *;

.btn {
  background-color: $clr-red-salsa;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

#root > div > div.app-main > div > div > a {
  text-decoration: none;

  .btn {
    display: flex;
    background-color: $clr-red-salsa;
    color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .grid-item {
    padding: 10px;;
  }
}
