// Avoid using the default namespace 'App'.
@use "../App.scss" as *;

.note-single-section {
  .note-single-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  div:nth-child(2) > img {
    max-height: 400px;
    width: auto;
  }

  div:nth-child(3) > h4 {
    text-align: justify;
  }
}
