name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 # Clones your repo

      # Installs Node.js + npm on the runner and sets up PATH.
      - uses: actions/setup-node@v4
        with:
          node-version: 22 # Your local version (matches your v22.20.0)
          cache: npm # Speeds up by caching node_modules

      - run: npm ci # Faster than npm install
      - run: npm run lint # Lint the code
      - run: npm run typecheck # Type check the code
      # - run: npm test # Run the tests
      - run: npm run build # Build the code
